@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: "E42D55";
  --background-color: "FCE4EA";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
}

